body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none
}

.title_screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  text-shadow: 0 0 8px rgb(255, 80, 80);
}

.instructions_screen {
  display: flex;
  flex-flow: wrap;
  color: white;
  padding: 1%;
}

.instructions_top {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.greeting {
  display: flex;
  flex-flow: column;
  float: left;
  width: 55%;
  text-align: justify;
  margin-right: 5%;
}

.demo_health_and_time_div {
  display: flex;
  
  align-items: center;
  text-align: justify;
  justify-content: center;
  
  width: 100%;
}

.instructions_time_div {
  display: flex;
  flex-flow: row-reverse;

  align-items: center;
}

.time_p {
  width: 80%;
  margin-left: 20px;
}

.instructions_health_div {
  display: flex;
  flex-flow: column;
}

.health_p {
  width: 70%;
}

.instructions_combo_div {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  text-align: justify;

  width: 40%
}

.combo_p {
  width: 80%;
}

.instructions_button{
  color: rgb(92, 0, 0);
}

.instructions_button:hover {
  cursor: pointer;
}

.p1_end_screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: red;
  text-shadow: 0 0 8px rgb(255, 80, 80);
}

.p2_end_screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 255);
  text-shadow: 0 0 10px rgb(84, 116, 255);
}

.title_banner {
  font-weight: bolder;
  font-size: 70%;
  padding:  10px 20px 20px 20px;

  border: 8px ridge red;
  border-radius: 5px;

  background-color: rgb(92, 0, 0);
}

.p1_end_banner {
  font-weight: bolder;
  font-size: 70%;
  padding:  10px 20px 20px 20px;

  border: 8px ridge red;
  border-radius: 5px;

  background-color: rgb(92, 0, 0);
}

.p2_end_banner {
  font-weight: bolder;
  font-size: 70%;
  padding:  10px 20px 20px 20px;

  border: 8px ridge blue;
  border-radius: 5px;

  background-color: rgb(0, 6, 92);
}

.blinking_header {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.main_game_container {
  padding-top: 5%;
}

.combo_phrase {
  position: sticky;
  z-index: 0;
  color: white;
  text-shadow: 0 0 8px rgb(255, 255, 255);
  font-family: 'Press Start 2P';
}

.fight_div {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-left: 5%;
  margin-right: 5%;
}

.health_bars_div {
  display: flex;
  flex-flow: row;
  position: sticky;

  margin-top: 5%;
  padding-left: 15%;
  padding-right: 15%;

  height: 2.5em;
  justify-content: space-between;
  z-index: 0;
}

.hitpoint {
  width: 10%;
  border: 1px solid white;
}

.filled_hitpoint {
  background-color: rgba(255, 255, 255, 0.473);
}

.p1_health_bar {
  display: flex;
  float: left;

  width: 15em;
  height: 1.75em;

  border: 2px ridge red;
  box-shadow: 0 0 8px rgb(255, 80, 80);
  background-color: rgba(255, 0, 0, 0.397);
}

.p1_time_bar {
  display: flex;
  flex-flow: column;
  float: left;
  
  width: 20px;
  height: 300px;

  border-radius: 5px;
  overflow-x: hidden;

  border: 2px ridge red;
  box-shadow: 0 0 8px rgb(255, 80, 80);

}

.p2_health_bar {
  display: flex;
  float: right;

  width: 15em;
  height: 1.75em;

  border: 2px ridge rgb(61, 97, 255);
  box-shadow: 0 0 10px rgb(61, 97, 255);
  background-color: rgba(0, 0, 255, 0.384);
}

.p2_time_bar {
  display: flex;
  flex-flow: column;
  float: left;
  
  width: 20px;
  height: 300px;

  border-radius: 5px;
  overflow-x: hidden;

  border: 2px ridge rgb(61, 97, 255);
  box-shadow: 0 0 10px rgb(61, 97, 255);
}

.p1_input_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: 5px ridge red;
  border-radius: 5px;

  box-shadow: 0 0 8px rgb(255, 80, 80);
  color: red;
  background-color: rgba(255, 0, 0, 0.11);

  text-shadow: 0 0 4px rgb(255, 80, 80);
  font-family: 'Press Start 2P';

  margin-right: 20px;
}

.p2_input_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border: 5px ridge rgb(61, 97, 255);
  border-radius: 5px;
  
  box-shadow: 0 0 10px rgb(61, 97, 255);
  color: rgb(61, 97, 255);
  background-color: rgba(0, 0, 255, 0.089);

  text-shadow: 0 0 8px rgb(61, 97, 255);
  font-family: 'Press Start 2P';
}

.center_input_box {
  margin-right: 20px;
}

.turn_display {
  display: contents;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  color: rgb(255, 255, 255);

  text-shadow: 0 0 8px rgb(255, 255, 255);
  font-family: 'Press Start 2P';

}

.gamepad_display {
  margin: 0;
  background-color: #282c34;
  color: red;
}

.p1_button_list {
  display: flex;
  float: left;
  background-color: #282c34;
  color: red;
  margin: 0;
}

.p2_button_list {
  display: flex;
  float: right;
  background-color: #282c34;
  color: blue;
  margin: 0;
}

.p2_button_list ol {
  padding-inline-end: 20px;
}

.p1_frame {
  font-size: 14%;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 10px rgb(255, 80, 80);
}

.p2_frame {
  font-size: 14%;
  color: rgb(86, 117, 255);
  text-shadow: 0 0 10px rgb(84, 116, 255);
}
