body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: none
}

.p1_input_box {
  width: 50px;
  height: 50px;
  border: 5px ridge red;
  box-shadow: 0 0 10px rgb(255, 80, 80);
  color: red;
  text-shadow: 0 0 10px rgb(255, 80, 80);
  font-family: 'Press Start 2P';
  margin-right: 20px;
}

.p2_input_box {
  width: 50px;
  height: 50px;
  border: 5px ridge blue;
  box-shadow: 0 0 10px rgb(61, 97, 255);
  color: blue;
  text-shadow: 0 0 8px rgb(61, 97, 255);
  font-family: 'Press Start 2P';
}

.gamepad_display {
  margin: 0;
  background-color: #282c34;
  color: red;
}

.p1_button_list {
  display: flex;
  float: left;
  background-color: #282c34;
  color: red;
  margin: 0;
}

.p2_button_list {
  display: flex;
  float: right;
  background-color: #282c34;
  color: blue;
  margin: 0;
}

.p2_button_list ol {
  padding-inline-end: 20px;
}
